@page "/notas"
@using AppConcurso.Models
@using AppConcurso.Controllers
@inject InscricaoController inscricaoControl
@inject CandidatoController candControl
@inject NavigationManager navegacao
@rendermode InteractiveServer

<h1>Lançamento de Notas</h1>

<div class="container">
    <button type="button" class="btn btn-primary mt-5" @onclick="NovoCandidatoInscricao">NOVO CANDIDATO COM INSCRIÇÃO</button>
    <button type="button" class="btn btn-primary mt-5" @onclick="NovaInscricao">NOVA INSCRIÇÃO</button>

    <nav class="navbar navbar-light" style="background-color: black"></nav>

    <div class="mb-3">
        <label for="input-datalist">CONSULTAR CANDIDATOS </label>
        <input type="text" class="form-control" placeholder="Digite um CPF" list="lista-candidatos" @onchange="FiltroSelect">
        <datalist id="lista-candidatos">
            @foreach (var item in listaCandidatos)
            {
                <option value="@item.Cpf">@item.Nome</option>
            }
        </datalist>
    </div>

    <nav class="navbar navbar-light" style="background-color: black"></nav>

    @if (erro)
    {
        <div class="alert alert-danger">Preencha as Notas!</div>
    }
    @if (sucesso)
    {
        <div class="alert alert-success">Notas Lançadas!</div>
    }

    <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>Nº Inscrição</th>
                <th>Nome do Candidato</th>
                <th>Cargo</th>
                <th>Nota Conhecimentos Gerais</th>
                <th>Nota Conhecimentos Específicos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var insc in inscricoes_filtro)
            {
                <tr>
                    <td>@insc.Numero</td>
                    <td>@insc.Candidato?.Nome</td>
                    <td>@insc.Cargo?.Nome</td>
                    <td>
                        <input type="number" class="form-control" step="0.1" @bind="insc.Nota_Conh_Gerais" />
                    </td>
                    <td>
                        <input type="number" class="form-control" step="0.1" @bind="insc.Nota_Conh_Especificos" />
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" @onclick="() => Salvar(insc)">Salvar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@code {
    private List<Inscricao> inscricoes = new List<Inscricao>();
    private List<Inscricao> inscricoes_filtro = new List<Inscricao>();
    private List<Candidato> listaCandidatos = new List<Candidato>();
    private bool sucesso = false;
    private bool erro = false;

    protected override async Task OnInitializedAsync()
    {
        inscricoes = await inscricaoControl.ListaInscricoes();
        listaCandidatos = await candControl.ListaCandidato();
    }

    public void FiltroSelect(ChangeEventArgs e)
    {
        string cpf = e.Value?.ToString();

        var lista = inscricoes.Where(i => i.Candidato.Cpf == cpf).ToList();
        inscricoes_filtro = lista;
    }

    private async Task Salvar(Inscricao insc)
    {
        sucesso = false;
        erro = false;

        if (insc.Nota_Conh_Gerais == null || insc.Nota_Conh_Especificos == null)
        {
            erro = true;
            return;
        }


        inscricaoControl.Update(insc);
        await inscricaoControl.SalvarInscricao();
        sucesso = true;
    }

    private void NovaInscricao()
    {
        navegacao.NavigateTo("/inscricao");
    }

    private void NovoCandidatoInscricao()
    {
        navegacao.NavigateTo("/cadastroinscricao");
    }
}
