@page "/lista"
@rendermode InteractiveServer
@using AppPessoa.Model
@using AppPessoa.Services
@inject PessoaServices pessoaServices

<h3>PESSOAS CADASTRADAS</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NOME</th>
            <th scope="col">CPF</th>
            <th scope="col">DATA NASCIMENTO</th>
            <th scope="col">TELEFONE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pessoas)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.Nome</th>
                <th>@item.Cpf</th>
                <th>@item.DataNasc</th>
                <th>@item.Telefone</th>
            </tr>
        }

    </tbody>
</table>
@code {
    List<Pessoa>? pessoas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        pessoas = new List<Pessoa>();
        var list = pessoaServices?.Pessoas();
        pessoas = list.Result.ToList();
    }
}
